{% extends 'base.html' %}


{% block title %}Boards{% endblock %}

{% block header%}Boards{% endblock %}
 
 
 {% block content %}
<!-- table -->
<table class="table table-hover align-middle">
  <thead class="table-dark">
    <tr>
      <th>Board</th>
      <th>Posts</th>
      <th>Topic</th>
      <th>Last Post</th>
    </tr>
  </thead>

  <tbody>
    {% for board in boards %}
    <tr>
      <td>
        <a
          href="{% url 'board_topics' board.pk %}"
          class="fw-semibold text-decoration-none"
        >
          {{ board.name }}
        </a>
        <small class="text-muted d-block">{{ board.description }}</small>
      </td>
      <td>0</td>
      <td>0</td>
      <td></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
