{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boards</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="p-4 bg-light mb-4">
        <h1 class="h3">Boards</h1>
      </div>
      <table class="table table-hover">
        <thead class="table-dark">
          <tr>
            <th>Boards</th>
            <th>Posts</th>
            <th>Topics</th>
            <th>Last Post</th>
          </tr>
        </thead>

        <tbody>
          {%for board in boards%}
          <tr>
            <td>
              {{board.name}}
              <small class="text-muted d-block">{{board.description}}</small>
            </td>

            <td>0</td>
            <td>0</td>
            <td></td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
  </body>
</html>
